* {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    background-color: rgb(186, 198, 219);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(47, 8, 73);
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

input {
    padding-right: 20px;
}

.error-message {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

button {
    width: 100%;
    margin-top: 5px;
}
