<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="container">
  <h3 style="color: black; text-align: center;">Controle de Investimentos</h3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home <i class="fa-solid fa-house"></i></a>
      <button class="btn btn btn-primary my-2 my-sm-0" routerLink="item/create">Adicionar Investimento <i
          class="fa-solid fa-plus"></i></button>

    </div>
  </nav>
</div>

<router-outlet></router-outlet>